// HOME SECTION STYLES
.hero {
    height: calc(100vh - 200px);
    display: flex;  
    line-height: 1.2;
    position: relative;
}

.hero-content {
    z-index: 1;
    width: 40vw;
    position: relative;
    padding-left: 15%;
}

.hero-today {
    margin-top: 0;
}

.hero-page-number {
    font-size: 300px;
    font-weight: 700;
    color: rgba(170, 170, 170, 0.219608);
    margin: 0;
    position: absolute;
    bottom: 0;
}

.hero-button {
    background: $tacha;
    color: $alabaster;
    z-index:2;
}

.hero-image {
    width: 60vw;
    background-image: url(../assets/main-image-1.png);
    background-size: cover;
}

.hero-slider-display {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $alabaster;
}


// CATEGORIES SECTION STYLES
.categories {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.category-item {
    display: flex;
    position: relative;
    padding-left: 50px; 
}

.category-item2 {
    outline: 5px solid $alabaster;
    outline-offset: -35px;
    z-index: 2;
}

.category-title {
    font-weight: 700;
    background: #fcfcfc;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 49%;
    padding: 2%;
}

.category-sidetitle {
    font-family: $roboto;
    color: $mine-shaft;
    line-height: 40px; 
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    top: 0;
}

// PRODUCTS SECTION STYLES
.product-nav {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 1.8rem;
        display: inline;
        font-family: $roboto;
        color: $grey;
        span {
            color: $mine-shaft;
        }
    }
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-description {
    color: $emperor-grey;
    font-family: $roboto;
}

.product-type {
    color: $silver-chalice;
    font-weight: 300;
}

.product-price {
    font-size: 1.8rem;
    span {
        font-size: 1.5rem;
        color: $silver-chalice;
    }
}

.product-image {
    // position: absolute;
}

.bag {
    background: $mine-shaft;
    padding: 10px;
    // position: relative;
    :hover {
         background: $tacha;
    }
}



// LOOKBOOK SECTION STYLES
.lookbook .container{
    display: flex;  
}

.lookbook-content {
    z-index: 1;
    justify-content: flex-end;
    text-align: right;
    h2 {
        width: 100%;
    }
}

.lookbook-slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $alabaster;
}

// BLOG SECTION STYLES
.blog-item-1,
.blog-item-2 {
    display: flex;
}

.blog-item-1-text {
    padding-left: 3em;
}

.blog-item-2-text {
    text-align: right;
    padding-right: 3em;
}

.blog-section {
    color: $silver-chalice;
    text-transform: uppercase;
    font-size: 1.2rem; 
    line-height: 30px; 
}

.blog-title {
    color: $mine-shaft;
    font-size: 2rem;
}

.blog-date {
    font-family: $roboto;
    color: $silver-chalice;
    font-size: 1.4rem; 
    line-height: 30px; 
}

.blog-content {
    font-family: $roboto;
    color: $emperor-grey;
    font-size: 1.5rem;
    line-height: 28px; 
}

.blog-slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $mine-shaft;
}

// PROMOTIONS SECTION STYLES

.promotions {
    display: flex;
}

.promotion-design {
    position: relative;
}

.promotion-design-text {
    position: absolute;
    z-index: 2;
    top: 26%;
    right: 50%;
    color: $alabaster;
    a, h2 {
        color: $alabaster;
        border: $tacha;
    }
}

.promotion-fashion-shop {
    position: relative;
}

.promotion-fashion-shop-text {
    position: absolute;
    z-index: 2;
    top: 26%;
    right: 50%;
    p {
        color: $grey;
    }
}

