// HOME SECTION STYLES
.hero {
    height: 80vh;
    display: flex;  
    img {
        justify-content: flex-end;
        height: 100%;
        width: 100%;
    }
}

.hero-content {
    z-index: 1;
    padding-left: 250px;
}

.hero-today {
    margin-top: 0;
}

.hero-page-number {
    font-size: 500px;
    font-weight: 700;
    color: rgba(170, 170, 170, 0.219608);
    margin: 0;
}

.hero-button {
    background: $tacha;
    color: $alabaster;
    z-index:2
}

.hero-slider-display {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
}

// CATEGORIES SECTION STYLES
.categories {
    display: flex;
    justify-content: space-around;
}

.category-item {
    display: flex;
}

.category-item2 {
    outline: 5px solid $alabaster;
    outline-offset: -35px;
}

.category-title {
    font-weight: 700;
    background: $alabaster;
}

.category-sidetitle {
    font-family: $roboto;
    color: $mine-shaft;
    line-height: 40px; 
    display: inline-block;
}

// MEDIA QUERIES
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
};

    
/* Landscape phone to portrait tablet */
@media (min-width: 768px) { 
};
    
/* Landscape phones and down */
@media (max-width: 480px) {
};


// PRODUCTS SECTION STYLES
.product-nav {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 1.8rem;
        display: inline;
        font-family: $roboto;
        color: $grey;
        span {
            color: $mine-shaft;
        }
    }
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-description {
    color: $emperor-grey;
    font-family: $roboto;
}

.product-type {
    color: $silver-chalice;
    font-weight: 300;
}

.product-price {
    font-size: 1.8rem;
    span {
        font-size: 1.5rem;
        color: $silver-chalice;
    }
}

// MEDIA QUERIES
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
};

    
/* Landscape phone to portrait tablet */
@media (min-width: 768px) { 
};
    
/* Landscape phones and down */
@media (max-width: 480px) {
};


// LOOKBOOK SECTION STYLES

.lookbook .container{
    display: flex;  
}

.lookbook-content {
    z-index: 1;
    justify-content: flex-end;
    text-align: right;
    h2 {
        width: 100%;
    }
}


// SALE SECTION STYLES

// BLOG SECTION STYLES

// PROMOTIONS SECTION STYLES

.promotions {
    display: flex;
}

.promotion-design {
    // position: absolute;
}

.promotion-design-text {
    // position: relative;
    z-index: 2;
    color: $alabaster;
    a, h2 {
        color: $alabaster;
        border: $tacha;
    }
}


.promotion-fashion-shop{
    // position: absolute;
}

.promotion-fashion-shop-text {
    // position: relative;
    z-index: 2;
    p {
        color: $grey;
    }
}


// MEDIA QUERIES
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
};

    
/* Landscape phone to portrait tablet */
@media (min-width: 768px) { 
};
    
/* Landscape phones and down */
@media (max-width: 480px) {
};
