
// FOOTER STYLES
footer {
    background: $mine-shaft;
    color: $alabaster;
    font-family: $roboto;
    a {
        color: $alabaster;
        a:hover {
            color: $tacha;
        }
    }
}
.footer-heading {
    text-transform: uppercase;
    color: $tacha;
    margin-bottom: 50px;
    font-family: $montserrat;
}

.footer-nav-and-socials {
    padding: 100px 0 50px;
}

.footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.footer-nav-tags li {
    display: inline-block;
    margin: 2px;
    padding: 1px 2px;
    border: 1px solid $alabaster;
    :hover {
        color: $tacha;
    }
}

.footer-nav-instagram-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5em;
    margin: 0 auto;
}

// .footer-nav-newsletter {
//     input {
//         display: inline-block;
//     }
// }
input {
    display: inline-block;
}

//  input[type="email"] {

//  }

//   input[type="submit"]

.footer-socials {
    text-align: center;
    li {
        display: inline-block;
        padding: 10px 30px;
        :hover {
            border: 1px solid $tacha;
            border-radius: 50px;
        }
    }
}

// FOOTER-LEGAL STYLES
.footer-legal {
    background: rgb(62, 62, 62);
}


.footer-legal-content {
    display: flex;
    justify-content: space-between;
}


