
.main-header {
	display: flex;
    justify-content: space-around;
    align-items: center;
    color: $silver-chalice;
    // padding: 60px 0;
    height: 200px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
    ul li {
        display: inline;
         &:hover ul {
            display: block;
            flex-direction: column;         
        }
    }  
}

.main-nav {
  margin-left: auto;
  margin-right: auto
}

.main-nav ul li {
    margin-left: 60px;
  
}

.main-nav ul li a {
    color: $silver-chalice; 
}

.main-nav ul li a:hover {
    color: $mine-shaft;
    padding-bottom: 5px;
    border-bottom: 2px solid $tacha;
}

ul.dropdown {
    display: none;
    position: absolute;
    li {
        display: block;
        margin: 10px 0 0 43%;
        a:hover {
            color: $mine-shaft;
        }
    }
}

.controls ul li {
    margin-left: 15px;
}

.currency {
    margin-right: 70px;
}

// ADD HAMBURGER MENU ON LEFT SIDE AND PLACE MAXSHOP LOGO IN CENTER

.navbar {
  overflow: hidden;
  height: 50px;
}

.open-side {
    position: absolute;
    top: 5%;
    left: 50%;
    display: none;
}

.navbar a {
  float: left;
  display: block;
  color: $mine-shaft;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
    transition: .5s;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $mine-shaft;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: $alabaster;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.side-nav a:hover {
    color: $tacha;
}

.side-nav .close-side {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}
