
//  // GENERAL MEDIA QUERIES
@media (max-width: 940px) {
    .container {
       width: 90%;
    }
}

// // TYPOGRAPHY MEDIA QUERIES
@media (max-width: 940px) {
    h2, h3, h4 {
        text-align: center;
    }
}

// HEADER NAV MEDIA QUERIES
@media (max-width: 940px) {
    .open-side {
        display: block;
    }
    .main-nav,
    .controls {
        display: none;
    }
}


// HERO MEDIA QUERIES

@media (max-width: 768px) { 
    .hero {
        background-image: url(../assets/main-image-1.png);
        background-size: cover;
        height: 80vw;
        .hero-content,
        h1 {
            font-size: 4rem;
            margin-top: 10%;
            width: 100%;
            a {
                color: $alabaster;
                text-align: center;
                margin: 0 auto;
                font-size: 1rem;
            }
        }
    }

    h3,
    .hero-today,
    .hero-slider-display,
    .hero-image,
    .hero-page-number {
        display: none;
    }

    .hero-page-number {
        display: none;
    }
}
    
@media (max-width: 480px) {
    .hero {
        background-image: url(../assets/main-image-1.png);
        background-size: cover;
        .hero-content,
        h1,
        a {
            color: $alabaster;
            text-align: center;
            margin: 0 auto;
        }
    }

    h3,
    .hero-today,
    .hero-slider-display,
    .hero-image,
    .hero-page-number {
        display: none;
    }
}


// // CATEGORIES MEDIA QUERIES
@media (max-width: 940px) {
    .categories {
       flex-direction: column;
    }
}

@media (max-width: 768px) { 
    .categories {
       flex-direction: column;
    }
    .category-sidetitle {
        display: none;
    }
}
    
@media (max-width: 480px) {
    .categories {
       flex-direction: column;
    }
    .category-sidetitle {
        display: none;
    }
}

// // PRODUCT SECTION MEDIA QUERIES
@media (max-width: 940px) {
    .product-list {
        flex-direction: column;
        text-align: center;
    }

    .bag {
        padding: 10px 30px;
    }
}

@media (max-width: 768px) { 
    .product-list,
    .product-nav {
        flex-direction: column;
        text-align: center;
    }

    .bag {
        padding: 10px 30px;
    }
}
    
@media (max-width: 480px) {
    .product-list,
    .product-nav {
        flex-direction: column;
        text-align: center;
    }

    .bag {
        padding: 10px 30px;
    }
}

// // LOOKBOOK MEDIA QUERIES
@media (max-width: 940px) {
    .lookbook {
        flex-direction: column;
    }
    .lookbook-content {
        text-align: center;
    }
}

@media (max-width: 768px) { 
    .lookbook {
        flex-direction: column;
    }

    .lookbook img {
        display: none;
    }

    .lookbook-content {
        text-align: center;
    }
}

// BLOG MEDIA QUERIES
@media (max-width: 940px) {
    .blog-item-1,  
    .blog-item-2  {
        flex-direction: column;
    }

    .blog-item-1 img {
        display: none;
    }

    .blog-item-1-text,  
    .blog-item-2-text {
        text-align: center;
        padding: 0;
    }
}


// // PROMOTIONS MEDIA QUERIES
@media (max-width: 940px) {
    .promotions {
        display: none;
    }
}

// // FOOTER MEDIA QUERIES
@media (max-width: 940px) {
    .footer-nav-item,
    .footer-contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .footer-nav {
        display: block
    }
    
    .footer-tags,
    .footer-instagram,
    .footer-nav-newsletter {
        display: none;
    }

    .footer-socials {
        display: block;
        text-align: center;
    }
}

@media (max-width: 768px) { 
    .footer-nav-item,
    .footer-legal-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-tags,
    .footer-instagram,
    .footer-nav-newsletter  {
        display: none;
    }

    .footer-socials {
        display: block;
        text-align: center;
    }
}
    
@media (max-width: 480px) {
    .footer-nav-item,
    .footer-legal-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-tags,
    .footer-instagram,
    .footer-nav-newsletter  {
        display: none;
    }

    .footer-socials {
        display: block;
        text-align: center;
    }
}

