h1, h2, h3, h4 {
    color: $mine-shaft;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    width: 250%;
    margin: 20px 0;
}

h2 {
    font-size: 3.0rem;
    font-weight: 400;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $roboto;
    color: $silver-chalice;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}





