// FONT VARIABLES
$montserrat: 'Montserrat', sans-serif;

$roboto: 'Roboto', sans-serif;


// FONT COLOR VARIABLES

//  #333333
$mine-shaft: rgb(51, 51, 51);

// #fcfcfc
$alabaster: rgb(252, 252, 252);

// #aaaaaa
$silver-chalice: rgb(170, 170, 170);

// #888888
$grey: rgb(136, 136, 136);

// #555555 / #666666
$emperor-grey: rbg(85, 85, 85);

// #eeeeee
$gallery-grey: rbg(238, 238, 238);

// #d4bd52
$tacha: rgb(212, 189, 82);



