// FONT VARIABLES
$montserrat: 'Montserrat', sans-serif;

$roboto: 'Roboto', sans-serif;


// FONT COLOR VARIABLES
// BLACK #333333
$mine-shaft: rgb(51, 51, 51);

// WHITE #ffffff
$alabaster: rgb(252, 252, 252);

// GREY #aaaaaa
$silver-chalice: rgb(170, 170, 170);

// GREY #888888
$grey: rgb(136, 136, 136);

// DARKGREY #555555
$emperor-grey: rbg(85, 85, 85);

// ACCENT #d4bd52
$tacha: rgb(212, 189, 82);

// LIGHTGREY #eeeeee
$gallery-grey: rbg(238, 238, 238);




// MEDIA QUERIES
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
};

    
/* Landscape phone to portrait tablet */
@media (min-width: 768px) { 
};
    
/* Landscape phones and down */
@media (max-width: 480px) {
};




